/* Resetting default styles */
body, img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.head{
    display: flex;
    justify-content: center;
    z-index: 3;
}

.head img{
    height: 40px;
}

.video-grid{
    overflow: auto;
    position: relative;
}

.double-container{
    display: flex;
}

.video-container{
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 100%;
    position: relative;
}

.contact{
    position: absolute;
    overflow: auto;
    top: 40px;
    color: black;
    z-index: 2;
    opacity: 1;
    text-align: center;
    opacity: 0;
    font-family: monospace;
    background: white;
    width: 250px;
    font-size: 15px;
}

.head:hover .contact{
    opacity: 1;
}

.footer{
    font-family: monospace;
    font-size: 15px;
    padding: 10px;
}

.video {
    width: 100%;
    height: auto;
}

.caption {
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: white;
    z-index: 1;
    opacity: 1;
}

.caption h1 {
    font-family: monospace;
    letter-spacing: -1px;
    margin: 0;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 1);
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.caption p {
    font-family: monospace;
    margin: 0;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 1);
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.video-container:hover .caption {
    opacity: 1;
    transition: opacity 0.3s;
}

.single-container{
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 100%;
}

.video-container video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    float: left;
    z-index: 0;
}